<h1>Editing Photo</h1>

<%= image_tag(@photo.file.url(:small)) %><br />

<% form_for([:admin, @photo]) do |f|  %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<% for work in @works %>
		  <p>
			<%= check_box_tag "photo[work_ids][]", work.id, @photo.works.include?(work) %>
			<%= work.title %>
		  </p>	
	   	<% end %>
	</p>
	 <p>
	    <%= f.submit 'Upload' %>
	</p>
<% end %>

<%= link_to 'Show', [@photo, :admin] %> 
<%= link_to 'Back', admin_posts_path %>
	
