<h1><%= portfolio.title %></h1>
<p><%= portfolio.description %></p>
<p><%= portfolio.author %></p>
<p><%= portfolio.email_author %></p>
<td class="list-actions"> 
	<%= link_to 'Edit gallery', edit_admin_portfolio_path(portfolio) %><br/> 
</td>

