<%#= render :partial => "admin/portfolios/index_to_admin" %>

<h1>Categories</h1>
<%= link_to "Create new category", new_admin_category_path %>
<% for category in @categories %>
<h2><%= category.title %></h2>
<td class="list-actions"> 
	<%= link_to 'Show', [category, :admin] %><br/> 
	<%= link_to 'Edit', edit_admin_category_path(category) %><br/> 
	<%= link_to 'Destroy', [category, :admin], 
		:confirm => 'Are you sure?', 
		:method => :delete
	%> 
</td>
<p><%= link_to 'Add photo', new_admin_photo_path %></p>
<% end %>
<p><%= link_to("Sing out", new_session_path, :method => :delete) %>
<p><%= link_to "Blog", admin_posts_path %></p>